.projectpanel {
    background-color: rgba(233, 224, 213, 0.938);
    text-align: center;
    font-size: 13pt;
}

a {
    color: #880E4F;
    font-family: 'Fira Sans', sans-serif;
}

.allprojtext {
    font-family:  'Special Elite', cursive;
    font-size: 30pt;
    margin-top: 60px;
    margin-bottom: 30px;
}

.allprojtitle {
    font-size: 40pt;
    font-family:  'Special Elite', cursive;
    margin-top: 250px;
    margin-bottom: -225px;

}