.background {
    background-image: url("typewriter.jpg");
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.titlelog {
    font-family:  'Special Elite', cursive;
    font-size: 55pt;
    color: #000000;
    margin-top: 45px;
}

.backgroundcolor {
    background-color: rgba(233, 224, 213, 0.938);
    padding: 30px;
    margin-top: 275px;
}